.Rhistory
.RData
.Rproj.user
.DS_Store
man/.Rapp.history
revdep/cloud.noindex/*
revdep/checks.noindex
revdep/library.noindex
revdep/data.sqlite*.Rcheck/
*.tar.gz

# Quarto presentation derivatives
inst/extdata/presentation/*.html
inst/extdata/presentation/*_files/
